
<body class="body">
    <div class="head">
        <div class="headlogo">
                <img class="aniweblogo" src="SRC/fapmirallogo.png">
        </div>
        <div class="headlogin">
                <button class="btnheadlogin">LOGIN</button>

                <div class="headsearch">
                        <input type="text" name="searchanime" id="seachanime" class ="txtsearchanime">
                        <button class="btnheadsearch">Search</button>
                </div>
        </div>
      

    </div>

    <div class="headnav">
            <button class="btnheadnavhome">HOME</button>
            <button class="btnheadnavanimelist">Anime List</button>
            <button class="btnheadnavgenres">Genres</button>
            <button class="btnheadnavabout">About</button>
    </div>

    <div class="promotionnote">
        <img class="prompic" src="SRC/prompicleft.png">
        <p class="promnote">Watch Anime and Enjoy Fast Updates and High Quality videos. We have completed series of Anime for Online streaming. If this is your first visit, be sure to bookmark us.</p>
        <img class="prompic" src="SRC/prompicright.png">
    </div>

    <div class="animelisttiles">
        <div class="animetile">

            <div class="animpictile">
                 <img class="animpic" src="SRC/akame_ga_kill.jpg">
                 <p class="animtitle">Akame Ga Kill!</p>
            </div>
               
            <div class="animpictile">
                 <img class="animpic" src="SRC/blend_s.jpg">
                 <p class="animtitle">Blend S</p>
            </div>
               
            <div class="animpictile">
                  <img class="animpic" src="SRC/chaos_head.jpg">
                  <p class="animtitle">Chaos;Head</p>
            </div>
              
            <div class="animpictile">
                <img class="animpic" src="SRC/dan_machi.jpg">
                <p class="animtitle">DanMachi</p>
            </div>
                

        </div>
        
        <div class="animetile">
                <div class="animpictile">
                        <img class="animpic" src="SRC/akame_ga_kill.jpg">
                        <p class="animtitle">Akame Ga Kill!</p>
                   </div>
                      
                   <div class="animpictile">
                        <img class="animpic" src="SRC/blend_s.jpg">
                        <p class="animtitle">Blend S</p>
                   </div>
                      
                   <div class="animpictile">
                         <img class="animpic" src="SRC/chaos_head.jpg">
                         <p class="animtitle">Chaos;Head</p>
                   </div>
                     
                   <div class="animpictile">
                       <img class="animpic" src="SRC/dan_machi.jpg">
                       <p class="animtitle">DanMachi</p>
                   </div>
        </div>

        <div class="animetile">
                <div class="animpictile">
                        <img class="animpic" src="SRC/akame_ga_kill.jpg">
                        <p class="animtitle">Akame Ga Kill!</p>
                   </div>
                      
                   <div class="animpictile">
                        <img class="animpic" src="SRC/blend_s.jpg">
                        <p class="animtitle">Blend S</p>
                   </div>
                      
                   <div class="animpictile">
                         <img class="animpic" src="SRC/chaos_head.jpg">
                         <p class="animtitle">Chaos;Head</p>
                   </div>
                     
                   <div class="animpictile">
                       <img class="animpic" src="SRC/dan_machi.jpg">
                       <p class="animtitle">DanMachi</p>
                   </div>
        </div>

        <div class="animetile">
                <div class="animpictile">
                        <img class="animpic" src="SRC/akame_ga_kill.jpg">
                        <p class="animtitle">Akame Ga Kill!</p>
                   </div>
                      
                   <div class="animpictile">
                        <img class="animpic" src="SRC/blend_s.jpg">
                        <p class="animtitle">Blend S</p>
                   </div>
                      
                   <div class="animpictile">
                         <img class="animpic" src="SRC/chaos_head.jpg">
                         <p class="animtitle">Chaos;Head</p>
                   </div>
                     
                   <div class="animpictile">
                       <img class="animpic" src="SRC/dan_machi.jpg">
                       <p class="animtitle">DanMachi</p>
                   </div>
        </div>



    </div>



</body>
